:root {
  /* colors */
  --magic-mint: #a6ebc9ff;
  --spring-green: #61ff7eff;
  --screamin-green: #5eeb5bff;
  --green-ryb: #62ab37ff;
  --olive-drab-7: #393424ff;

  /* fonts */
  --font-Lato: 'Lato', sans-serif;
  --font-Sans: sans-serif;

  /* font sizes */
  --font-size1: .75rem;
  --font-size2: 1rem;
  --font-size3: 1.5rem;
  --font-size4: 2rem;
  --font-size5: 3rem;
}

/* text color classes */
.magic-mint {
  color: var(--magic-mint);
}

.spring-green {
  color: var(--spring-green);
}

.screamin-green {
  color: var(--screamin-green);
}

.green-ryb {
  color: var(--green-ryb);
}

.olice-drab {
  color: var(--olive-drab-7);
}

/* text size classes */

.font-size-1 {
  font-size: var(--font-size1);  
}

.font-size-2 {
  font-size: var(--font-size2);
}

.font-size-3 {
  font-size: var(--font-size3);
}

.font-size-4 {
  font-size: var(--font-size4);
}

.font-size-5 {
  font-size: var(--font-size5);
}

.bold {
  font-size: var(--font-size4);
  font-weight: 1000;
}

.less-bold {
  font-size: var(--font-size3);
  font-weight: 800;
}

.text-outline {
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: black;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--font-Lato), var(--font-Sans);
  font-size: var(--font-size1);
}

ul {
  padding-left: 2vw;
}

/* navbar */
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

#navbar {
  min-height: 9vh;
  height: 9vh;
  font-size: var(--font-size3);
  font-weight: 1000;
  background-color: var(--olive-drab-7);
}

.nav-item {
  margin: 20px 0 20px 20px;
  list-style-type: none;
  align-self: center;
  transition: transform 0.2s;
}

.nav-item:hover {
  -webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.nav-item a:hover {
  transition-timing-function: ease-in;
  transition: .75s;
  transform: scale(1.5);
  color: #8cfaa9;
  text-shadow: 0 0 5px #b4fcc7;
}

#navbar--about-us {
  margin-left: auto;
  margin-right: 20px;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.container-col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container-col p {
  margin: 2rem;
  padding: 1rem;
  border: 2px solid var(--green-ryb);
  border-radius: 5px;
  background-color: var(--green-ryb);
  color: white;
  transition: transform 0.2s;
}

.container-col p:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.1);
}

.page-padding {
  padding: 6vh 5vw;
}

.fun-facts {
  font-size: var(--font-size2);
  padding: 1rem;
  width: 40%;
  background-color: var(--spring-green);
  border-radius: 5px;
}

.pos-left {
  position: absolute;
  top: 15%;
  left: 5%;
}

.pos-right {
  position: absolute;
  top: 15%;
  right: 5%;
}

.large-img-section {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.info-section {
  width: 100%;
  height: 100%;
}

/* Main Page */
#main-page--section {
background-image: url('/img/Main/main\ \(1\).jpg');
background-color: var(--magic-mint);
}

#main--picture1 {
  background-image: url("/img/Main/zoo1.jpg");
}

#main--picture2 {
  background-image: url("/img/Main/zoo2.jpg");
}

.page-footer {
  background-color: var(--olive-drab-7);
  height: 9vh;
  width: 100%;
  text-align: center;
}

.info--section img {
  width: 80%;
  height: auto;
  margin: 4vh auto;
  box-sizing: border-box;
  border: 5px solid var(--green-ryb);
  border-radius: 5px;
}

/* Lions */
#lions--section {
  background-image: url('/img/Animals/Lion/l1.jpg');
}

#lions--info {
  background-image: url("/img/Main/main\ \(4\).jpg");
  background-size: cover;
}

/* Cobras */
#cobras--section {
  background-image: url("/img/Animals/KingCobra/cobra\ \(2\).jpg");
}

#cobras--info {
  background-image: url("/img/Main/main\ \(3\).jpg");
  background-size: cover;
}

/* Frogs */
#frogs--section {
  background-image: url("/img/Animals/Frog/frog\ \(1\).jpg");
}

#frogs--info {
  background-image: url("/img/Main/main2.jpg");
  background-size: cover;
}

/* Eagles Section */
#eagles--section {
  background-image: url("/img/Animals/BaldEagle/eagle\ \(4\).jpg");
}

#eagles--info {
  background-image: url("/img/Main/main\ \(5\).jpg");
  background-size: cover;
}

/* Red Pandas */
#red-panda--section {
  background-image: url("/img/Animals/RedPanda/rp1.jpg");
}

#red-pandas--info {
  background-image: url("/img/Main/main7.jpg");
  background-size: cover;
}

/* About-Us Section */
#about-us--section{
  background-image: url("/img/Main/zoo3.jpg");
}

#mission-statement ul li{
  padding: 0 2vw;
}

